/* Colors */
  $bgColor: #ffffff;
  $dotColor: rgba(106, 106, 106, 0.6);
  $borderColor: #E1E1E1;
  $shadowColor: 0 0 10px 0 rgba(0,0,0,0.2);
  $ancherHoverColor: #0190e6;
  $carouselIndicatorColor: #0190e6;
  $textColor: #434c5a;
  $titleTextColor: #B24760;

/* Body Background Dot Dimensions */
  $dotSize: 1px;
  $dotSpace: 20px;


/* Main */
  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:
    linear-gradient(90deg, $bgColor ($dotSpace - $dotSize), transparent 1%) center,
    linear-gradient($bgColor ($dotSpace - $dotSize), transparent 1%) center,
    $dotColor;
    background-size: $dotSpace $dotSpace;
    color: $textColor;
  }
  .row {
    margin: 0px;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Fredoka One';
  }
  p {
    color: $textColor;
    font-size: 14px;
    margin: 0;
    line-height: 2;
  }

  a {
    color: $textColor;
  }


/* ======================= */

/* NavBar */
.navbar {
  font-size: 20px;
  justify-content: center;
  margin: 40px auto;
  margin-top: 80px;
  padding: 10px 0;
  ul {
    list-style-type: none;
    display: flex;
    :hover {
      color: black;
      text-decoration: none;
    }
    li {
      font-weight: lighter;
      margin-right: 30px;
      :first-child {
        margin-right: 0px;
      }
    }
    li .active {
      font-weight: bold;
      color: $titleTextColor;
    }
  }
}

/* ======================= */

.title {
  h1 {
    color: $titleTextColor;
    font-family: gluten;
    font-size: 60px;
  }
}
/* Homepage */
  .homepage {
    text-align: center;
  }

/* ======================= */

/* Styling for the video player */

.demo-reel {
  margin: 50px;
  margin-bottom: 30px;
  padding: 30px;
  padding-bottom: 15px;
  border-radius: 10px;
  background-image: url('../img/videoBorder.png');
  background-size: 100% 100%; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}


.email {
  a:hover {
    text-decoration: none;
  }
  p {
    font-family: gluten;
    font-size: 20px;
  }
  p:hover {
    color: $titleTextColor;
  }
}


/* About */
  .about-me {
    text-align: center;
  }
  .my-info {
    position: relative;
    display: flex;
    .about {
      margin-top: 60px;
      p {
        font-size: 16px;
        text-align: left;
      }
    }
    .email {
      text-align: left;
      margin-top: 30px;
      p {
        color: black;
        font-size: 18px;
      }
      p:hover {
        font-family: 'Fredoka One';
        color: $titleTextColor;
      }
    }
    .social {
      margin-top: 15px;
      float: left;
      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-right: 30px;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
    .profilePic {
      position: absolute;
      height: 80%;
      bottom: 0;
      right: 10%;
    }
  }

/* ======================= */

/* Contact */
  .contact {
    position: relative;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 80px;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    p {
      font-family: 'Fredoka One';
      font-size: 28px;
      margin-top: 15px;
      line-height: 1;
    }
    a {
      color: $textColor;
    }
    .drawing {
      margin-right: 80px;
      img {
        height: 600px;
      }
    }
    .social {
      margin-top: 40px;
      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-right: 30px;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
/* ======================= */

/* Project samples */
  .design-projects {
    position: relative;
    top: 30px;
    display: flex;
    align-items: center;
    .intro {
      h1 {
        font-size: 60px;
        text-align: center;
        margin-bottom: 50px;
      }
      .ocupation-detail {
        width: 80%;
      }
      .software {
        width: 75%;
        margin-top: 20px;
        img {
          margin-right: 25px;
          margin-bottom: 20px;
          object-fit: contain;
          height: 50px;
          width: 50px;
        }
      }
    }
  }

  .download {
    margin-top: 30px;
    h5 {
      font-size: 14px;
      margin-bottom: 15px;
    }
    div {
      border: 1px dashed;
      padding: 7px 15px;
      border-radius: 10px;
      display: inline-block;
      &:hover {
        background-color: #d9f4fd;
        font-weight: bold;
        a {
          color: $ancherHoverColor;
          text-decoration: none;
        }
      }
    }
    a {
      cursor: pointer;
      font-size: 16px;
    }
  }
  .project-list {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    display: flex;
    a:hover {
      color: #000;
    }
  }
  .project {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: $shadowColor;
    text-align: left;
    height: 150px;
    width: 230px;
    position: relative;
    margin: 10px;
    transition: 0.6s;
    background-size: 300px 300px, cover;
    background-repeat: no-repeat;
    background-position: center;
    div {
      position: absolute;
      top: 50%;
      left: 20px;
      margin-right: -50%;
      transform: translate(0%, -42%);
    }
    img {
      height: 30px;
      width: 30px;
      position: absolute;
      top: 10px;
      right: 15px;
    }
    p.title {
      font-size: 18px;
      margin-bottom: 5px;
    }
    p {
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
    }
  }



/* ======================= */

/* Project Detail */
  .project-detail {
    margin-top: 50px;
    .content {
      width: 90%;
      margin: 0 auto;
      margin-top: 30px;
      .detail {
        .header {
          margin-bottom: 15px;
          h4 {
            margin-bottom: 0;
          }

          p {
            opacity: 0.6;
          }
        }
        .skills {
          margin-top: 30px;
          p {
            margin-bottom: 10px;
          }
          ul {
            list-style: circle;
            padding-left: 20px;
            width: 90%;
            li {
              font-size: 14px;
            }
          }
        }
      }
    }

    .carousel.slide {
      margin-right: 30px;
      box-shadow: $shadowColor;
      .carousel-item {
        img {
          height: 500px;
          object-fit: cover;
          object-position: top left;
        }
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        display: none;
      }
      .carousel-indicators {
        bottom: -50px;
        li {
          background-color: $carouselIndicatorColor;
          border: 1px solid;
          border-radius: 50%;
          height: 13px;
          width: 13px;
          opacity: 0.3;
          transition: opacity .6s ease;
        }
      }
      .carousel-indicators .active {
        opacity: 0.8;
      }
    }

    a.back-btn {
      position: absolute;
      bottom: 0px;
    }

    img.img-pencil {
      position: absolute;
      z-index: -1;
      width: 150px;
      bottom: 30px;
      right: 10px;
    }
    .project-list {
      bottom: -130px;
      transition-duration: 0.8s;
      z-index: 15;
      &:hover {
        bottom: -10px;
        .project {
          div {
            transform: translate(0%, -42%);
            left: 20px;
          }
          p.title {
            transform: scale(1);
          }
          p:last-child {
            opacity: 1;
          }
        }
      }
      .project {
        div {
          transition: 1s;
          transform: translate(0%, -122%);
          left: 5px;
        }
        p {
          transition: 1s;
        }
        p.title {
          transform: scale(0.85);
        }
        p:last-child {
          opacity: 0;
        }
      }
    }
  }
/* ======================= */


.animation {
  position: relative;
  top: 30px;
  .video {
    margin-top: 20px;
  }
  .video-list {
    display: flex;
    justify-content: center;
    iframe {
      width: 100%;
      height: 200px;
      margin: 50px 15px;
    }
  }
}



/* Waves */
  .ocean {
    height: 300px; /* change the height of the waves here */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
  }
  .wave {
    // background: url("../../personal_web/src/static/wave.svg");
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  @keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
  }
/* ======================= */



@import '../styles/responsive.scss';
